<section role="region">

  <header class="fixed">

    <menu type="toolbar">
      <a ng-click="Go('/profile/:profileId', 'popup')">
        <span class="icon icon-compose">edit</span>
      </a>
    </menu>

    <a ng-click="ToggleProfileMenu()">
      <span class="icon icon-menu">show profiles</span>
    </a>

    <h1>
      Default
    </h1>

  </header>

  <article class="scrollable header">

    <div class="profile-menu" ng-show="model.showProfileMenu">

      <section data-type="list">
        <ul>
          <li>
            <a href="#">
              <p>Travis Gray</p>
            </a>
          </li>
        </ul>
      </section>

      <button ng-click="Go('/profile', 'popup')" type="button" class="recommend">
        Create profile
      </button>

    </div>

    <form ng-submit="Notify()">

      <p>
        <input type="text" placeholder="Password">
        <button type="reset">Clear</button>
      </p>

      <p>
        <label class="pack-checkbox">
          <input type="checkbox" id="show-password" checked>
          <span></span>
        </label>

        <label for="show-password">
          Show password
        </label>
      </p>

      <p>
        <input type="text" placeholder="Used text">
        <button type="reset">Clear</button>
      </p>

      <p>

      </p>

      <button type="submit" class="recommend">
        Show as notification
      </button>

    </form>

  </article>

</section>

